<div class="container-fluid">
    <header>
        <div class="logo"> <a class="site-title" href="{{ site.baseurl }}/"><span class="name">Miguel A. Cardona Jr.</span> <span class="title" style="color:#4a4a4a;">Professor & Designer</span></a>
        </div>
        <nav class="navbar-nav">
         <!--    {% for page in site.pages %} {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> {% endif %} {% endfor %} -->
        <a class="page-link" href="http://portfolio.miguelcardona.com">Professional Work</a>
        <a class="selected page-link selected" href="/">My Students' Work</a>
        <a class="page-link" href="http://portfolio.miguelcardona.com/about">About Me</a>
        <a class="page-link" href="http://portfolio.miguelcardona.com/cv">Curriculum Vitae</a>
 
        </nav>
        <nav id="miggi-menu-button">
            <div id="miggi-menu-bars"></div>
        </nav>
    </header>
</div>