<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
   <meta property="og:title" content="Miguel A. Cardona Jr. | Student Work">
    <meta property="og:description" content="Miguel is a Designer & Illustrator living in San Francisco, CA. He is currently the Lead Designer at imgix.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://portfolio.miguelcardona.com/">
    <meta property="og:image" content="http://migimages.imgix.net/id/idlogo.pdf?bm=normal&blend=01A0D1&balph=10&fit=clamp&txtpad=48&fm=png8&w=1200&h=630&fit=clamp">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@miggi">
    <meta name="twitter:title" content="Miguel A. Cardona Jr. | Student Work">
    <meta name="twitter:description" content="Miguel is a Professor, Designer, & Illustrator. He currently lives in Rochester, NY and teaches in the New Media Design Program at RIT">
    <meta name="twitter:image" content="http://migimages.imgix.net/id/idlogo.pdf?txtsize=48&txtalign=center%2Cbottom&txtfont64=QXZlbmlyIE5leHQsQm9sZA&txtclr=fff&w=750&h=560&usm=15&q=100&fm=pjpg&chromasub=444&bm=normal&blend=01A0D1&balph=10&fit=clamp&txtpad=48">
  
  <link href="http://fonts.googleapis.com/css?family=Merriweather:400&amp;text=PROFESSOR &DESIGNER" rel="stylesheet" type="text/css"> 
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800|Merriweather:300" rel="stylesheet" type="text/css"> 
   <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>


