

<figure class="imgix-thumb imgix-lightbox-item" data-src="{{ include.img }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %}>
<picture>
    <source media="(min-width: 640px)" srcset="{{ include.img }}&w=320&h=320&fit=crop 1x, {{ include.img }}&w=320&h=320&fit=crop&dpr=2&q=45 2x">
    <source media="(min-width: 480px)" srcset="{{ include.img }}&w=240&h=240&fit=crop 1x, {{ include.img }}&w=300&h=300&fit=crop&dpr=2&q=45 2x">
    <source media="(max-width: 479px)" srcset="{{ include.img }}&w=120&h=120&fit=crop 1x, {{ include.img }}&w=120&h=120&fit=crop&dpr=2&q=45 2x">
    <img  src="{{ include.img }}&w=240&h=240&fit=crop&q=45" {% if include.alt %} alt="{{ include.alt }}" {% endif %}>
</picture>
</figure>


